#components-form-demo-normal-login {
	.login-form {
		margin-top: 35vh;
    margin-left: 38vw;
	  max-width: 300px;
	}
	.login-form-forgot {
	  float: right;
	}
	.login-form-button {
	  width: 100%;
	}
}